@charset "UTF-8";

/*
*Tommi Tuominen 2014
*Demosivun ja transition-esimerkkien tyylitiedosto
*/

@media screen{

.example{
	margin: 15px 0px 15px 0px;
}

.presetbtn{
	margin-bottom: 15px;
	display: inline-block;
}


/***** Esimerkkiosion transitiot ******/
	#transition_1aa{
		width: 70%;
		padding: 9px 15px;
		background-color: #5ECFC6;
		color: white;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-webkit-transition: background-color 2s;
		-moz-transition: background-color 2s;
		-o-transition: background-color 2s;
		-ms-transition: background-color 2s;
		transition: background-color 2s;
	}

	#transition_1aa:hover {
		background-color: #FD737A;
	}

	#transition_1bb{
		width: 70%;
		padding: 9px 15px;
		background-color: rgba(94,207,198,1);
		color: white;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-webkit-transition: background-color 2s;
		-moz-transition: background-color 2s;
		-o-transition: background-color 2s;
		-ms-transition: background-color 2s;
		transition: background-color 2s;
	}

	#transition_1bb:hover {
		background-color: rgba(94,207,198,0.1);
	}

	.transition_2aa{
		width: 100px;
		height: 25px;
		margin: 5px 0;
		padding: 5px;
		color: white;
		background-color: #5ECFC6;
		text-align: right;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}

	.transition_2aa:hover{
		width: 500px;
	}

	.transition_2aa#easeb{
		-webkit-transition: 3s ease;
		-moz-transition: 3s ease;
		-o-transition: 3s ease;
		-ms-transition: 3s ease;
		transition: 3s ease;
	}

	.transition_2aa#linearb{
		-webkit-transition: 3s linear;
		-moz-transition: 3s linear;
		-o-transition: 3s linear;
		-ms-transition: 3s linear;
		transition: 3s linear;
	}

	.transition_2aa#easeinb{
		-webkit-transition: 3s ease-in;
		-moz-transition: 3s ease-in;
		-o-transition: 3s ease-in;
		-ms-transition: 3s ease-in;
		transition: 3s ease-in;
	}

	.transition_2aa#easeoutb{
		-webkit-transition: 3s ease-out;
		-moz-transition: 3s ease-out;
		-o-transition: 3s ease-out;
		-ms-transition: 3s ease-out;
		transition: 3s ease-out;
	}

	.transition_2aa#easeinoutb{
		-webkit-transition: 3s ease-in-out;
		-moz-transition: 3s ease-in-out;
		-o-transition: 3s ease-in-out;
		-ms-transition: 3s ease-in-out;
		transition: 3s ease-in-out;
	}

	.transition_2aa#bezierb{
		-webkit-transition: 3s cubic-bezier(0.6, 0.1, 0.15, 0.8);
		-moz-transition: 3s cubic-bezier(0.6, 0.1, 0.15, 0.8);
		-o-transition: 3s cubic-bezier(0.6, 0.1, 0.15, 0.8);
		-ms-transition: 3s cubic-bezier(0.6, 0.1, 0.15, 0.8);
		transition: 3s cubic-bezier(0.6, 0.1, 0.15, 0.8);
	}

	.transition_3aa{
		width: 100px;
		margin: 5px 0;
		padding: 5px;
		color: white;
		background-color: #5ECFC6;
		text-align: right;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}

	.transition_3aa:hover{
		width: 500px;
	}

	.transition_3aa#del1b{
		-webkit-transition: 3s ease 1s;
		-moz-transition: 3s ease 1s;
		-o-transition: 3s ease 1s;
		-ms-transition: 3s ease 1s;
		transition: 3s ease 1s;
	}

	.transition_3aa#del2b{
		-webkit-transition: 3s ease 2s;
		-moz-transition: 3s ease 2s;
		-o-transition: 3s ease 2s;
		-ms-transition: 3s ease 2s;
		transition: 3s ease 2s;
	}

	.transition_3aa#del3b{
		-webkit-transition: 3s ease -1s;
		-moz-transition: 3s ease -1s;
		-o-transition: 3s ease -1s;
		-ms-transition: 3s ease -1s;
		transition: 3s ease -1s;
	}	
/******************************/



/*-------ESIM 1------*/
#transition_1a{
	width: 70%;
	padding: 9px 15px;
	background-color: #5ECFC6;
	color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: background-color 2s;
	-moz-transition: background-color 2s;
	-o-transition: background-color 2s;
	-ms-transition: background-color 2s;
	transition: background-color 2s;
}

#transition_1a:hover {
	background-color: #FD737A;
}

#transition_1b{
	width: 70%;
	padding: 9px 15px;
	background-color: rgba(94,207,198,1);
	color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: background-color 2s;
	-moz-transition: background-color 2s;
	-o-transition: background-color 2s;
	-ms-transition: background-color 2s;
	transition: background-color 2s;
}

#transition_1b:hover {
	background-color: rgba(94,207,198,0.1);
}

/*--------ESIM 2---------*/
.transition_2a{
	width: 100px;
	height: 25px;
	margin: 5px 0;
	padding: 5px;
	color: white;
	background-color: #5ECFC6;
	text-align: right;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.transition_2a:hover{
	width: 500px;
}

.transition_2a_ease{
	-webkit-transition: 3s ease;
	-moz-transition: 3s ease;
	-o-transition: 3s ease;
	-ms-transition: 3s ease;
	transition: 3s ease;
}

.transition_2a_linear{
	-webkit-transition: 3s linear;
	-moz-transition: 3s linear;
	-o-transition: 3s linear;
	-ms-transition: 3s linear;
	transition: 3s linear;
}

.transition_2a_easein{
	-webkit-transition: 3s ease-in;
	-moz-transition: 3s ease-in;
	-o-transition: 3s ease-in;
	-ms-transition: 3s ease-in;
	transition: 3s ease-in;
}

.transition_2a_easeout{
	-webkit-transition: 3s ease-out;
	-moz-transition: 3s ease-out;
	-o-transition: 3s ease-out;
	-ms-transition: 3s ease-out;
	transition: 3s ease-out;
}

.transition_2a_easeinout{
	-webkit-transition: 3s ease-in-out;
	-moz-transition: 3s ease-in-out;
	-o-transition: 3s ease-in-out;
	-ms-transition: 3s ease-in-out;
	transition: 3s ease-in-out;
}

.transition_2a_bezier{
	-webkit-transition: 3s cubic-bezier(0.6, 0.1, 0.15, 0.8);
	-moz-transition: 3s cubic-bezier(0.6, 0.1, 0.15, 0.8);
	-o-transition: 3s cubic-bezier(0.6, 0.1, 0.15, 0.8);
	-ms-transition: 3s cubic-bezier(0.6, 0.1, 0.15, 0.8);
	transition: 3s cubic-bezier(0.6, 0.1, 0.15, 0.8);
}

/*-----------ESIM 3-----------*/

.transition_3a{
	width: 100px;
	margin: 5px 0;
	padding: 5px;
	color: white;
	background-color: #5ECFC6;
	text-align: right;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.transition_3a:hover{
	width: 500px;
}

.transition_3a#del1{
	-webkit-transition: 3s ease 1s;
	-moz-transition: 3s ease 1s;
	-o-transition: 3s ease 1s;
	-ms-transition: 3s ease 1s;
	transition: 3s ease 1s;
}

.transition_3a#del2{
	-webkit-transition: 3s ease 2s;
	-moz-transition: 3s ease 2s;
	-o-transition: 3s ease 2s;
	-ms-transition: 3s ease 2s;
	transition: 3s ease 2s;
}

.transition_3a#del3{
	-webkit-transition: 3s ease -1s;
	-moz-transition: 3s ease -1s;
	-o-transition: 3s ease -1s;
	-ms-transition: 3s ease -1s;
	transition: 3s ease -1s;
}

/*-----------DEMO------------*/
select{
	border: 1px solid #5ECFC6;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #FBFEFE url(../img/select-arrow.png) no-repeat 90% center;
	width: 100px;
	height: 30px;
	text-indent: 0.01px;
	text-overflow: "";
	color: #00655E;
	border-radius: 5px;
	padding: 5px;
	box-shadow: inset 0 0 5px rgba(94, 207, 198, 0.5);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;	
}

select:hover{
	box-shadow: inset 0 0 5px rgba(94, 207, 198,0.0);
}

.inputfield{
	padding: 0;
	margin: 0;
	width: 100px;
	height: 25px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #5ECFC6;
	box-shadow: inset 0 0 5px rgba(94, 207, 198, 0.2);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;			
}

.inputfield:hover{
	box-shadow: inset 0 0 5px rgba(94, 207, 198, 0.0);	
}

.colorvalue{
	width: 100px;
	margin: 0;
	padding: 2px;
	margin-top: 2px;
}

.demo_label{
	font-size: 10pt;
	color: #00655E;
}

#custom{
	margin-top: 25px;
	margin-bottom: 25px;
}

.btncontainer{
	display: inline-block;
	width: 100px;
	margin-right: 25px;
	margin-bottom: 5px;
}

.colorvalue{
	width: 100%;
	height: 20px;
	padding: 0px;
	margin-top: 2px;
}

.slider{
	width: 100%;
	margin: 0px;
	margin-top: 5px;
}

#demobox_trans{
    width:100px;
    height: 50px;
    color: white;
	background-color: #5ECFC6;
	font-size: 12pt;
	text-align: right;
	margin-bottom: 25px;
	border: 1px solid #34CFC3;
}

.animate{

}

@media only screen and (max-width: 1024px){

	#custom{
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.btncontainer{
		display: inline-block;
		width: 80px;
		margin-bottom: 1px;
	}

	.colorvalue{
		width: 100%;
		margin: 0;
		padding: 2px;
		margin-top: 2px;
	}

	.inputfield{
		padding: 0;
		margin: 0;
		height: 25px;
		width: 80px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border: 1px solid #5ECFC6;	
	}

	.presetbtn{	
		margin-bottom: 3px;
	}

	select{
		border: 1px solid #5ECFC6;
		-webkit-appearance: none;
		-moz-appearance: none;
		background: #FBFEFE url(../img/select-arrow.png) no-repeat 90% center;
		height: 25px;
		width: 80px;
		text-indent: 0.01px;
		text-overflow: "";
		color: #00655E;
		border-radius: 5px;
		padding: 1px;
		box-shadow: inset 0 0 5px rgba(94, 207, 198,0.5);
	}

}

@media only screen and (max-width: 320px){

}


}
@media print{
	
	i{
		text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
		color: gray;
	}

	.example{
		margin: 15px 0px 15px 0px;
	}

	/*------------*/
	#transition_1a{
		width: 70%;
		padding: 9px 15px;
		background-color: gray;
		color: black;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}

	#transition_1b{
		width: 70%;
		padding: 9px 15px;
		background-color: gray;
		color: black;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}

	/*----------------------*/
	.transition_2a{
	width: 100px;
	margin: 5px 0;
	padding: 5px;
	background-color: gray;
	color: black;
	text-align: right;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	}

	/*-----------DEMO------------*/
	select{
		border: 1px solid black;
		width: 100px;
		height: 30px;
		border-radius: 5px;
		padding: 5px;
	}

	#custom{
		margin-top: 25px;
		margin-bottom: 25px;
	}

	#vaihtuva{
		display: inline-block;
		height: 27px;
		margin: 0;
		padding: 0;
	}

	.btncontainer{
		display: inline-block;
		width: 100px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		padding: 2px;
		margin-right: 1px;
		margin-bottom: 2px;
	}

	#colorvalue{
		padding: 2px;
	}

	.inputfield{
		padding: 0;
		margin: 0;
		width: 100px;
		height: 27px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border: 1px solid black;	
	}

	.presetbtn{	
		margin-bottom: 3px;
	}
	.resetbtn{
		font-size: 10pt;
	}

	#demobox_trans{
	    width:100px;
	    height: 50px;
		font-size: 12pt;
		text-align: right;
		margin-bottom: 25px;
		border: 1px solid black;
	}	
}